/**********************************/
 /** 01. BASIC MODULAR STYLING
**********************************/

*{
    box-sizing:border-box;
}


// IE reset properties


select::-ms-expand {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Good browsers :) */
    opacity:0;
}


@-ms-viewport { width: device-width;
-ms-overflow-style:  -ms-autohiding-scrollbar;
}



body
{
    font-family: 'montserratregular', sans-serif !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
    font-size: 18px;
    color: #100000;
    background-color: $main_bkg;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  font-size: 18px;
  color: #100000;
}

.content{
    padding: 0 10px;

    @include breakpoint-min(large) {
         margin: 0 auto;
    }

}



// Captions and thumbnails styles


html {
    height:100%;

    .no-overflowscrolling .over-col {
        height: auto;
    }
}
 
/*Scrollbar
***********************/
::-webkit-scrollbar
{
  width: 1px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: none;
}

::-webkit-scrollbar-thumb
{
  background: none;
}
