/**********************************/
 /** 01.SCSS COLORS
**********************************/
$white: #FFFFFF;
$blue: #2cabe2;
$dark_blue: #0C2543;
$green: #7ed321;
$red: #f16969;
$danger: #dc4f4f;
$red_error: #f58080;

$grey: #D3D3D3;
$dark_grey: #4A4A4A; 
$medium_grey: #8f8f8f;

$main_text: #4A4A4A;
$bkg: #333333;
$main_bkg: #D3D3D3;
   
$btn: #2cabe2;
$btn_hover: #1a7abf;
$btn_focus: #14487d;
$btn_greyed: #77bddb;
$btn_inactive: #c1c1c1;



 //**   Extras

$input_bkg: #f5f5f5;
$grey_checkbox: #A8A8A8;
