/*!
Author: R&D Paxlife
Description: Cloud10world Entertainment
Version: 1.0.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Paxlife

Tags:


*/
@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
/**********************************/
/** 01.SCSS COLORS
**********************************/
/**********************************/
/** 01.SCSS RESET
**********************************/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("../bower_components/font-awesome/css/font-awesome.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #4A4A4A;
  font-family: 'Montserrat';
  line-height: normal; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding: 0.5rem 0.5rem; }

a, h3 * {
  text-decoration: none !important;
  outline: 0; }

::-webkit-scrollbar {
  display: none; }

input, select {
  font-size: 18px; }

button, input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: none;
  background-color: transparent; }

img:hover,
img:active,
img:focus,
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: none;
  outline: 0px !important;
  -webkit-appearance: none; }

/* when hiding the thing */
.ng-hide-add {
  -webkit-animation: 0.5s lightSpeedOut ease;
  animation: 0.5s lightSpeedOut ease; }

/* when showing the thing */
.ng-hide-remove {
  -webkit-animation: 0.5s flipInX ease;
  animation: 0.5s flipInX ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) */
/* flip in */
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

/* light speed out */
@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

@keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

.fade {
  opacity: 1; }

.fade.ng-enter, .fade.ng-leave {
  transition: 0.5s linear all; }

.fade.ng-leave,
.fade.ng-enter.ng-enter-active {
  opacity: 1; }

.fade.ng-enter,
.fade.ng-leave.ng-leave-active {
  opacity: 0; }

/**********************************/
/** 01.SCSS BREAKPOINTS
**********************************/
/** 00. Essemtials
**********************************/
/**********************************/
/** 01.SCSS MIXIN
**********************************/
html {
  font-size: 62.5%;
  /* 1 */ }

/** 01. typography / Icons
**********************************/
/**********************************/
/** 01.SCSS TYPOGRAPHY
**********************************/
/** 02. Base
**********************************/
/**********************************/
/** 01. BASIC MODULAR STYLING
**********************************/
* {
  box-sizing: border-box; }

select::-ms-expand {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Good browsers :) */
  opacity: 0; }

@-ms-viewport {
  width: device-width;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

body {
  font-family: 'montserratregular', sans-serif !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  font-size: 18px;
  color: #100000;
  background-color: #D3D3D3; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0; }

a {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }

#container {
  width: 100%;
  max-width: 1345px;
  margin: 0 auto;
  padding: 0; }

canvas {
  display: block;
  vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: -1; }

/*Scrollbar
***********************/
::-webkit-scrollbar {
  width: 1px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */ }

::-webkit-scrollbar-track {
  background: none; }

::-webkit-scrollbar-thumb {
  background: none; }

/**********************************/
/** 01.SCSS BUTTONS
**********************************/
a.Btn, button.Btn, .Btn {
  font-family: 'montserratsemi_bold';
  transition: all 0.1s ease-out;
  border-radius: 4px;
  background-color: #2cabe2;
  display: block;
  outline: none;
  width: 100%;
  height: 50px;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  line-height: 20px;
  font-size: 16px; }
  @media (min-width: 400px) {
    a.Btn, button.Btn, .Btn {
      font-size: 19px; } }
  a.Btn.inactive, button.Btn.inactive, .Btn.inactive {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: #c1c1c1;
    cursor: not-allowed;
    pointer-events: none; }
    a.Btn.inactive:hover, a.Btn.inactive :focus, button.Btn.inactive:hover, button.Btn.inactive :focus, .Btn.inactive:hover, .Btn.inactive :focus {
      background-color: #c1c1c1; }
  a.Btn:hover, button.Btn:hover, .Btn:hover {
    background-color: #1a7abf;
    box-shadow: none; }
  a.Btn:focus, button.Btn:focus, .Btn:focus {
    background-color: #14487d;
    box-shadow: none; }
  a.Btn.danger, button.Btn.danger, .Btn.danger {
    background-color: #dc4f4f; }

/** 03. Modules
**********************************/
.navbar-brand {
  padding: 0; }

.logo {
  width: 31px;
  display: inline-block;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 10px;
  font-size: 0;
  position: absolute;
  top: 16px;
  min-height: 30px;
  margin: 0 15px; }
  @media (min-width: 768px) {
    .logo {
      width: 30px;
      min-height: 30px;
      margin: 10px 15px; } }

.navbar-toggler {
  margin-top: 8px;
  font-size: 20px; }

.navbar-fixed-bottom, .navbar-fixed-top {
  width: 100%;
  min-height: 60px;
  padding-right: 0;
  padding-left: 0;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch; }
  @media (min-width: 400px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
      width: auto; } }
  @media (min-width: 768px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
      width: 60px;
      height: 100vh;
      right: auto; } }

.nav, .social {
  padding: 0 17px;
  margin-bottom: 0;
  list-style: none; }

@media (min-width: 399px) and (max-width: 543px) {
  .nav {
    padding: 10px 17px; } }

@media (min-width: 768px) {
  .nav {
    top: 24vh;
    position: absolute; } }

[class^="fa-"], [class*=" fa-"], .fa {
  display: none;
  width: 100%;
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
  left: 0px;
  margin-top: 11px; }
  @media (min-width: 400px) {
    [class^="fa-"], [class*=" fa-"], .fa {
      display: inline-block;
      margin-top: 0; } }

#exCollapsingNavbar2 {
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 55px; }
  @media (min-width: 768px) {
    #exCollapsingNavbar2 {
      display: block; } }

.nav > li {
  position: relative;
  display: inline-block; }

.nav > li > a {
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  @media (min-width: 768px) {
    .nav > li > a {
      font-size: 10px; } }

.navbar-nav .nav-item + .nav-item {
  margin-left: 0;
  width: 100%; }
  @media (min-width: 768px) {
    .navbar-nav .nav-item + .nav-item {
      width: auto; } }

nav.navbar-fixed-bottom .social, nav.navbar-fixed-top .social {
  display: none; }
  @media (min-width: 768px) {
    nav.navbar-fixed-bottom .social, nav.navbar-fixed-top .social {
      position: absolute;
      bottom: 0;
      height: 120px;
      width: 6px;
      display: block; } }
  nav.navbar-fixed-bottom .social li, nav.navbar-fixed-top .social li {
    margin-bottom: 6px;
    width: 26px;
    text-align: center;
    float: left;
    margin-left: auto;
    margin-right: auto; }

.navbar-fixed-top .navbar-nav li a:hover i {
  opacity: 1; }

.navbar-fixed-top .navbar-nav li a:after {
  content: 'HOME'; }

.navbar-fixed-top .navbar-nav li + li a:after {
  content: 'ABOUT'; }

.navbar-fixed-top .navbar-nav li + li + li a:after {
  content: 'SKILLS'; }

.navbar-fixed-top .navbar-nav li + li + li + li a:after {
  content: 'WORK'; }

.navbar-fixed-top .navbar-nav li + li + li + li + li a:after {
  content: 'CONTACT'; }

@media (max-width: 329px) {
  .navbar-nav li a {
    font-size: 13px !important; } }

@media (min-width: 400px) {
  .navbar-fixed-top .navbar-nav li a i {
    transition: all 0.3s ease-out;
    width: 25px;
    text-align: center;
    float: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px; }
  .navbar-fixed-top .navbar-nav li a:hover i {
    opacity: 0; }
  .navbar-fixed-top .navbar-nav li a.active,
  .navbar-fixed-top .navbar-nav li a:hover {
    color: black; }
  .navbar-fixed-top .navbar-nav li a:after {
    content: '';
    font-size: 13px;
    top: 10px;
    left: 0;
    position: relative;
    font-size: 10px;
    display: block;
    width: 100%;
    transition: all 0.3s ease-out;
    opacity: 0; } }
  @media (min-width: 400px) and (min-width: 0) and (max-width: 543px) {
    .navbar-fixed-top .navbar-nav li a:after {
      opacity: 1; } }
  @media (min-width: 400px) and (min-width: 400px) {
    .navbar-fixed-top .navbar-nav li a:after {
      top: -21px; } }
  @media (min-width: 400px) and (min-width: 768px) {
    .navbar-fixed-top .navbar-nav li a:after {
      top: -10px; } }
  @media (min-width: 400px) and (min-width: 992px) {
    .navbar-fixed-top .navbar-nav li a:after {
      left: 16%;
      text-align: center;
      display: inline-block;
      position: absolute;
      display: block;
      width: 100%;
      text-align: left; } }

@media (min-width: 400px) {
  .navbar-fixed-top .navbar-nav li a:after {
    content: 'HOME'; }
  .navbar-fixed-top .navbar-nav li + li a:after {
    content: 'ABOUT'; }
  .navbar-fixed-top .navbar-nav li + li + li a:after {
    content: 'SKILLS'; }
  .navbar-fixed-top .navbar-nav li + li + li + li a:after {
    content: 'WORK'; }
  .navbar-fixed-top .navbar-nav li + li + li + li + li a:after {
    content: 'CONTACT'; } }
  @media (min-width: 400px) and (min-width: 768px) {
    .navbar-fixed-top .navbar-nav li + li + li + li + li a:after {
      left: -9px; } }

@media (min-width: 400px) {
  .navbar-fixed-top .navbar-nav li a:hover:after {
    opacity: 1; } }

@media (min-width: 768px) {
  .navbar-fixed-top .navbar-nav li a:after {
    font-size: 9px;
    position: absolute;
    margin-top: 0;
    left: -3px; }
  .navbar-fixed-top .navbar-nav li a {
    font-size: 24px;
    color: #4d4d4e;
    display: block;
    line-height: 45px;
    height: 45px;
    position: relative; } }

@media (min-width: 386px) and (max-width: 543px) {
  .fa {
    display: none; } }

@media (min-width: 543px) and (max-width: 768px) {
  .collapse {
    display: inherit;
    margin-top: 0;
    margin-top: 0; }
  #exCollapsingNavbar2 {
    margin-top: 0; }
  .nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    left: 25%;
    right: 32%;
    top: 50%; }
  .navbar-light .navbar-nav .nav-link {
    padding-left: 0; }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px; } }

body {
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0; }

a {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #000000; }

canvas {
  display: block;
  vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: -1; }

#container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0; }
  @media (min-width: 768px) {
    #container {
      max-width: 80%; } }

h1 {
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
  max-width: 70%; }
  @media (min-width: 400px) {
    h1 {
      font-size: 35px; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 45px; } }

.Intro {
  margin-top: 60px; }
  @media (min-width: 768px) {
    .Intro {
      margin-top: 100px; } }

footer {
  position: absolute;
  bottom: 0;
  display: block;
  height: 30px;
  width: 90%; }
  footer [class^='fa-'], footer [class*=' fa-'], footer .fa {
    display: inline; }
  footer .angular {
    height: 23px;
    width: 27px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    position: relative;
    margin-right: 0px;
    margin-bottom: -5px; }
  footer p {
    font-size: 14px;
    text-align: center; }

/** 04. Pages
**********************************/
